.appbar {
    padding-top: 0px;

    .appbar-content {
        display: grid;
        grid-template-columns: 80px auto 200px;
        grid-template-areas: "start center end";
        width: 100%;

        .appbar-start {
            grid-area: start;
        }

        .appbar-center {
            grid-area: center;
            display: flex;
            align-items: center;
            flex-direction: column-reverse;
        }

        .appbar-end {
            grid-area: end;
            display: grid;
            grid-template-columns: auto auto;
            .settings {
                margin: 0px;
            }
        }
    }
}