.game-pill {
    background: grey;
    padding: 6px;
    border-radius: 20px;
    border: 1px solid;
    font-size: 12px;
    text-transform: uppercase;
}

.btn-pill-icon {
    padding: 8px!important;
    border-radius: 20px!important;
    .btn-caption {
        margin-left: 10px;
    }
}