.game-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;

    .grid-list {
        flex-wrap: nowrap;
        transform: translateZ(0);

        .tile {
            margin: 0 10px;

            &:hover {
                .play-button {
                    display: block !important;
                }
            }

            .tile-img {
                width: 100%;
                height: 180;
                object-fit: cover;
                -webkit-user-drag: none;
            }

            .caption {
                position: absolute;
                bottom: 0;
                width: 100%;
                display: flex;
                flex-direction: column;
                background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0) 100%);

                .tile-name {
                    color: white;
                    text-align: center;
                }

                .play-button {
                    margin: auto;
                    height: 30px;
                    width: 30px;
                    margin-bottom: 4px;
                    color: white;
                    display: none;
                }
            }
        }
    }
}