.icon-btn {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;

    &.btn-xl {
        width: 40px;
        height: 40px;
        padding: 9px 0px;
        border-radius: 35px;
        font-size: 18px;
        line-height: 1.33;
    }
}

.pill {
    border-radius: 30px;
    font-size: 10px;
    padding: 10px;
}

.play {
    &:hover {
        text-decoration: none;

        span {
            background: #ffffff;
            box-shadow: inset -7px 7px 14px #c4c4c4,
                inset 7px -7px 14px #ffffff;
        }
    }

    span {
        margin-top: 20px;
        color: black;
        background: white;
        padding: 10px;
        border-radius: 28px;
        background: linear-gradient(225deg, #e6e6e6, #ffffff);
        box-shadow: -7px 7px 14px #c4c4c4,
            7px -7px 14px #ffffff;
    }
}