.icon-btn {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;

    &.btn-xl {
        width: 40px;
        height: 40px;
        padding: 9px 0px;
        border-radius: 35px;
        font-size: 18px;
        line-height: 1.33;
    }
}

.pill {
    border-radius: 30px;
    font-size: 10px;
    padding: 10px;
}
.pill {
    color: white;
    background: #292929;
    box-shadow: inset -8px 8px 15px #202020,
        inset 8px -8px 15px #323232;
}

.play {
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }

    span {
        margin-top: 20px;
        padding: 10px;
        border-radius: 28px;
    }
}