$height: 100%;

.full-container {
    .wallpaper {
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0px;
        z-index: -10;
        right: 0px;
        overflow: hidden;
        background-position: 50% 0% !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        opacity: 0.8;
        filter: brightness(0.4);

    }

    .overlay {
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0px;
        z-index: -10;
        right: 0px;
        overflow: hidden;
        filter: brightness(0.5) grayscale(0.3) blur(3px);
    }

    .hero-content {
        margin-top: 80px;
        color: white;
        .caption-holder {
            padding: 80px;
            .title {
                margin-top: 20px;
            }

            ul {
                list-style: none;
                margin: 0px;
                padding: 0em;
                li {
                    margin: 20px auto;
                    span {
                        &:first-child {
                            margin-right: 10px;
                        }
                    }
                    .pill {
                        margin: auto 5px;
                    }
                }
            }
        }
        .moment-holder {
            padding: 30px;
            .carousel {
                img {
                    width: 100%;
                }
            }
            .carousel-indiactor {
                padding: 30px;
                img {
                    height: 80px;
                    padding: 10px;
                }
            }
        }
    }
}