.game-toolbar {
    box-shadow: none !important;
    .toolbar-start {
        margin-left: 40px;
    }
    .toolbar-end {
        position: absolute;
        right: 0;
        margin: auto 20px;
    }
}