.sidebar {
    padding-top: 10px !important;
    background: #ffffff;
    box-shadow: inset -20px 20px 60px #d9d9d9,
        inset 20px -20px 60px #ffffff;

    .all {
        margin-top: 80px;
    }

    .pinnedGames {
        margin: 30px 6px;
        border-radius: 34px;
        background: #ffffff;
        box-shadow: inset -7px 7px 12px #e8e8e8, 
                    inset 7px -7px 12px #ffffff;

    }
}