.sidebar {
    // position: fixed; 
    height: 100%;
    width: 75px;
    .pinned-games {
        width: 90%;
    margin: auto;
        margin-top: 10px;
        background: grey;
        border-radius: 50px;
        li {
            &:first-child {
                margin-top: 0px;
            }
            padding: 0px;
            margin-top: 10px;
            a {
                margin: auto;
               img {
            object-fit: cover;
            height: 60px;
            width: 60px;
        } 
            }
        }
    }
    .all {
        margin-top: 100px;

    }
}