.sidebar {
    padding-top: 10px !important;
    background: #ffffff;
    box-shadow: inset -20px 20px 60px #d9d9d9,
        inset 20px -20px 60px #ffffff;

    .icon-btn {
        margin: auto;
        color: #001f3fab;
        background: linear-gradient(225deg, #e6e6e6, #ffffff);
        box-shadow: -20px 20px 60px #d9d9d9,
            20px -20px 60px #ffffff;

        &:focus,
        &:hover {
            box-shadow: inset -20px 20px 60px #3ea6eb,
                inset 20px -20px 60px #26afee;
                color: white;
        }

    }

    .all {
        margin-top: 80px;
    }

    .pinnedGames {
        margin: 30px 6px;
        border-radius: 50px;
        border-radius: 50px;
        background: linear-gradient(225deg, #e6e6e6, #ffffff);
        box-shadow: -20px 20px 60px #d9d9d9,
            20px -20px 60px #ffffff;

        .pin-game {
            background: transparent;
            padding: unset;
            margin: 10px auto auto auto;
            border: 0em;

            span {
                display: flex;
                align-items: center;
                text-align: center;
                width: 100%;
                height: 100%;
                border-radius: 100%;
                overflow: hidden;
                padding: 0.65rem;
                box-shadow: inset 8px 8px 16px 0 rgba(0, 0, 0, 0.2),
                    inset -8px -8px 16px 0 rgba(255, 255, 255, 0.4);

                &:hover {
                    box-shadow: inset 8px 8px 16px 0 rgba(13, 121, 223, 0.2),
                    inset -8px -8px 16px 0 rgba(41, 177, 231, 0.4); 
                }
            }

            &:first-child {
                margin-top: 3px;
            }

            &:last-child {
                margin-bottom: 3px;
            }

            img {
                width: 40px;
                height: 40px;
                border-radius: 50px;
            }
        }

    }
}