.footer {
    padding: 0px;
    .bottom-holder {
        width: 50%;
        margin: auto;
        display: flex;
        background: white;
        height: 100%;
        padding: 20px;
        border-radius: 50px;
        justify-content: center;
    }
}