.footer {
    padding: 0px;
    .bottom-holder {
        margin: auto;
        margin-bottom: 5px;
        display: flex;
        height: 100%;
        padding: 10px;
        border-radius: 50px;
        justify-content: center;
        .play {
            margin: auto;
            margin-right: 10px;
        }
    }
}