.footer {
    padding: 0px;
    .bottom-holder {
        margin: auto;
        display: flex;
        height: 100%;
        padding: 20px;
        border-radius: 50px;
        justify-content: center;
    }
}