$side-width:80px;

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;

    .sidebar {
        max-width: $side-width;
        min-height: 100vh;
        position: fixed;
        z-index: 10000;
        padding: 0px;
    }

    .footer {
        margin-left: $side-width;
    }

    .appbar {
        margin-left: $side-width;
    }

    .content {
        width: 100%;
        min-height: 100vh;
        transition: all 0.3s;
        margin-left: $side-width;
    }
}