.launcher-container {
    min-height: 100vh;

    .background {
        min-height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: -3;
        filter: blur(30px);


        .bg-filter {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            filter: blur(8px);
            background-blend-mode: exclusion;
            filter: blur(8px);
            z-index: -2;
        }

        .bg-noise {
            height: 100%;
            min-height: 100vh;
            border: 1px solid #fff;
            background: black;
            background-size: cover;
            position: absolute;
            width: 100%;
            filter: blur(4px);
            opacity: .6;
            z-index: -1;
        }

    }
}